/* extra icons font */

@font-face {
  font-family: 'icomoon';
  src: url('./resources/fonts/extra-icons-font/icomoon.eot?glned1');
  src: url('./resources/fonts/extra-icons-font/icomoon.eot?glned1#iefix') format('embedded-opentype'), url('./resources/fonts/extra-icons-font/icomoon.ttf?glned1') format('truetype'), url('./resources/fonts/extra-icons-font/icomoon.woff?glned1') format('woff'), url('./resources/fonts/extra-icons-font/icomoon.svg?glned1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* etline font */

@font-face {
  font-family: 'et-line';
  src: url('./resources/fonts/et-line-font/et-line.eot');
  src: url('./resources/fonts/et-line-font/et-line.eot?#iefix') format('embedded-opentype'), url('./resources/fonts/et-line-font/et-line.woff') format('woff'), url('./resources/fonts/et-line-font/et-line.ttf') format('truetype'), url('./resources/fonts/et-line-font/et-line.svg#et-line') format('svg');
  font-weight: normal;
  font-style: normal;
}